* {
    box-sizing: border-box; /*https://www.w3schools.com/css/css3_box-sizing.asp */
    font-family: monospace;
}

html, body, #root, .app{
    height: 100%;
    overflow: hidden;
}

div, span {
    padding: 4px;
}

.commenter-textarea {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.commenter-textarea:focus{
    outline: none;
    background-color: floralwhite;
}

.commenter-submit, .commenter-pix{
    /* float: right; */
    cursor: pointer;

/* https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg); 
*/
}

.comments{
    height: 80%;
    overflow: auto;
}

.comment{
}

.comment:hover {
    background-color: lavender;
}

.comment-text{
    display: inline-block;
}

.comment-avatar{
    float: right;
}

.comment-date{
    font-size: smaller;
    float: right;
}

.modal {
    /* background-color: white; */
    /* position: absolute; */
    /* border-radius: 5px; */
    /* border: 1px solid gray; */
}

.modal-close {
    color: black;
    float: right;
}

.modal-close:hover {
    color: red;
    cursor: pointer;
}
