div, span {
    padding: 4px;
}

.commenter-textarea {
    width: 100%;
    padding: 4px;
}

.commenter-submit{
    float: right;
}

.comment:hover {
    background-color: #F5F5DC;
}

.comment-date{
    font: 10px Courier New;
    float: right;
}

.user-name{
    font: 15px Sofia;
}

.modal {
    background-color: white;
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
}

.modal-close {
    color: black;
    float: right;
}

.modal-close:hover {
    color: red;
    cursor: pointer;
}
