/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
.lein-env
.lein-repl-history
.nrepl-port
Procfile
.diff
*~
*#*
.emacs*
.shadow-cljs
dev/cljs/user.cljs
node_modules
karma.conf.js
src/gen-js
/resources/public/index.production.html

*.ws.sh
lein.bat
/resources/public/dist